/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */

/* index.css 또는 별도의 CSS 파일에 추가 */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px; /* 썸의 너비 */
  height: 14px; /* 썸의 높이 */
  background: white; /* 썸의 배경색 */
  border: 3px solid #124946; /* 테두리 색상 */
  border-radius: 50%; /* 원형 썸 */
}

