@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.custom-react-datepicker__wrapper {
  display: flex;
  font-display: row;
  justify-content: space-between;
  align-items: center;
  width: 272px;
}
.custom-react-datepicker__label-span {
  font-size: 15px;
  width: 100%;
  color: #2b2b2b;
}
.react-datepicker__view-calendar-icon input {
  padding: none !important;
  width: 96px !important;
}
.react-datepicker__input-container {
  padding-left: 15px;
  width: fit-content;
}
.react-datepicker__input-container input {
  font-family: Noto Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  color: #124946;
  width: 75px;
  text-decoration: underline;
}
.react-datepicker__triangle {
  display: none;
}
.react-datepicker-popper {
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding-top: 0px !important;
}
.react-datepicker {
  border: none !important;
}

.react-datepicker-wrapper {
  width: fit-content;
}
.react-datepicker__header {
  height: 28px !important;
  padding: 0 !important;
  border: none !important;
  background-color: #fff !important;
  position: relative;
  text-align: center;
}
.custom-react-datepicker__select-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  height: 36px;
}
.custom-react-datepicker__select-wrapper button {
  background-color: transparent;
  border: none;
}
.custom-react-datepicker__select-item {
  display: flex;
  font-display: row;
  justify-content: space-between;
  align-items: center;
  width: 64px;
}
.custom-react-datepicker__select-wrapper select {
  width: 54px;
  height: 18px;
  background: #ffffff;
  border-radius: 3px;
  font-weight: 400;
  font-size: 12px;
}
.custom-react-datepicker__select-wrapper span {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 18px;
  margin-left: 3px;
  font-weight: 500;
  font-size: 8px;
  color: white;
}
.react-datepicker__month-container {
  width: 265px;
  /* height: 254px; */
  min-height: 220px;
  height: fit-content;
  padding: 14px 24px 20px 21px;
  border-radius: 10px;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  margin-top: 30px !important;
}
.react-datepicker__week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 24px;
  margin: 0.5px 0;
  gap: 8.67px;
}
.react-datepicker__week > div:nth-of-type(6),
.react-datepicker__week > div:last-of-type {
  color: #2aac73 !important; /* success */
}
.react-datepicker__day-names > div:nth-of-type(6),
.react-datepicker__day-names > div:last-of-type {
  color: #2aac73 !important; /* success */
}
.react-datepicker__week > div:nth-of-type(6):hover,
.react-datepicker__week > div:last-of-type:hover {
  color: #fff !important; /* success */
}
.react-datepicker__day-names {
  margin: 4px 0.2rem !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  margin: 0.5px 0;
}
.react-datepicker__day {
  padding: 0;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.react-datepicker__day-name {
  display: flex;
  align-items: flex-end !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 24px !important;
  height: 24px !important;
  font-size: 10px;
  color: #b3b3b3 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-datepicker__day:hover {
  background-color: #2aac73;
  color: #fff !important;
  display: flex;
  width: 24px !important;
  margin: 0 6px;
  height: 24px !important;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.react-datepicker__day--selected {
  width: 24px !important;
  padding: 4px;
  box-sizing: border-box;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #616161;
  background-color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.react-datepicker__day--keyboard-selected {
  border-radius: 4px;
  /* border: 1px solid #616161; */
  background-color: #fff !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  width: 24px !important;
  background-color: #2aac73 !important;
  color: #fff !important;
  border: none;
  /* margin-left: 9px;
  margin-right: 9px; */
}
.react-datepicker__day--today {
  background-color: white;
  color: #2b2b2b;
}
.selected-month {
  background: #2b2b2b;
}
